_revalid_input.json
_revalid_result.json
_revalid_report.md
_revalid.log
_STOP_MINING
_noite.log
survivors_usdjpy_overnight*.json
_teste_noite*
_diag*.log
survivors_m30*.json
_bat*.out
_probe.bat
_MINING.lock
